<h1 class="center">Bonjour voici la liste des pokemons</h1>
<div class="container" >
    <div class="row" >
        
        <div *ngFor="let pokemon of pokemonlist" class=" col m4 s6">
            <div class="card horizontal">
                <div class="card-image">
                    <img [src]="pokemon.picture"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p >{{pokemon.name}}</p>
                        <p ><small >{{pokemon.created}}</small></p>
                    </div>
                  </div>
            </div>
     
            
        </div>
    </div>
</div>

<!-- <p>{{pokemonlist[1].name}}</p>
<p>{{pokemonlist[2].name}}</p>
<p>{{pokemonlist[3].name}}</p>
<p>{{pokemonlist[4].name}}</p>
<p>{{pokemonlist[5].name}}</p>
<p>{{pokemonlist[6].name}}</p>
<p>{{pokemonlist[7].name}}</p>
<p>{{pokemonlist[8].name}}</p>
<p>{{pokemonlist[9].name}}</p>
<p>{{pokemonlist[10].name}}</p>
<p>{{pokemonlist[11].name}}</p>
<p>{{pokemonlist[12].name}}</p> -->
