<nav>
    <div class="nav-wrapper teal" >
        <a href="" class="brand-logo center" >
            Pokédex
        </a>
    </div>
</nav>
<router-outlet ></router-outlet>


<!-- <p>{{pokemonlist[1].name}}</p>
<p>{{pokemonlist[2].name}}</p>
<p>{{pokemonlist[3].name}}</p>
<p>{{pokemonlist[4].name}}</p>
<p>{{pokemonlist[5].name}}</p>
<p>{{pokemonlist[6].name}}</p>
<p>{{pokemonlist[7].name}}</p>
<p>{{pokemonlist[8].name}}</p>
<p>{{pokemonlist[9].name}}</p>
<p>{{pokemonlist[10].name}}</p>
<p>{{pokemonlist[11].name}}</p>
<p>{{pokemonlist[12].name}}</p> -->
